.container {
    max-width: 1200px;
}

.tablelabel {
    text-align: center;
    font-weight: bold;

}

.wagetable {
    text-align: right;
    text-align-last: auto;
    

}

#wageframe {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

