.Mont{
    font-family: 'Montserrat';
    text-align: center;
    color: white;
  }
  .s1{
    background: url("../assets/img/slide1.jpg");
    background-size: cover; 
  }
  .s2{
    background: url("../assets/img/slide2.jpg");
    background-size: cover; 
  }
  .s3{
    background: url("../assets/img/slide3.jpg");
    background-size: cover; 
  }

  span{
      background:white !important;
  }

  .fp-slidesNav.fp-bottom{
      margin-left: 1em !important;
  }