.Mont{
    font-family: 'Montserrat';
    text-align: center;
    color: white;
  }
  .s1{
    background-color: #AAF0D1;
    background-size: cover; 
  }
  .s2{
    background-color: #FF9966;
    background-size: cover; 
  }
  .s3{
    background-color: #A7F432;
    background-size: cover; 
  }

  span{
      background-color:white !important;
  }

  .fp-slidesNav.fp-bottom{
      margin-left: 1em !important;
  }
  .pos-f-t{
    visibility:hidden;
  }
  
  @media (max-width: 1200px) {
    .navbar-expand-lg{
        visibility: hidden;
        display:none;
    }
    .pos-f-t{
      visibility:visible;
      margin-top: -41px;
    }
  }